img{
  width: 150px;
  height: auto;
}
.svg-mylocations{
  position: absolute;
  transform: scale(10);
  margin-bottom: 180px;
  top: 1050px;
}
.container-annoucement{
  margin-bottom: 50px;
}

#box-infos{
  position: relative;
  top: 20px;
  margin-bottom: 50px;
}