.intro{
  height: 80px;
  width: 100%;
  background-color: black;
}

.intro-content{
  padding: 20px;
  text-align: center;
  color: white;
}

.annoucement{
  width: 80%;
  height: 130px;
  margin-bottom: 150px;
  padding: 10px;
}

.annoucement p:nth-child(2) {
  width: 75%;
}

.dropdown-type{
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.SearchBar{
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-left: 30px;
  padding-right: 8px;
  margin: 15px 0px;
  height: 35px;
  width: 40%;
}

.buttonSearch{
  margin-left: 15px;
  color: white;
  height: 40px;
  cursor: pointer;
  background-color: #68C0FE;
  outline: none;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid lightgray;
  font-weight: 500;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttonSearch2{
  color: white;
  height: 40px;
  cursor: pointer;
  background-color: #68C0FE;
  outline: none;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid lightgray;
  font-weight: 500;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  
}

.someOptionInput1{
  margin-right:25px;
  margin-top:25px;
  width: 23%;
}
.someOptionInput2{
  margin-right:25px;
  width: 23%;
}

.FormFilter{
  border: 1px solid lightgray;
  padding-left: 25px;
  width: 79%;
}


.someOptionsForSearch{
  display:flex;
  flex-direction: row;
}
.filtre-icon{
  font-size: 30px;
  margin-right: 7px; 
}

.slideBar{
  margin-top: 25px;
  margin-bottom: 20px;
}

.Filter{
  cursor: pointer;
}

.Invisible{
  display: none;
}

/* 
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
} */

 
.container {
 display: flex;
 background-color: #fff;
 position: relative;
 border-radius: 5px;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.156);
 padding: 10px;
 }
 
 .btn {
  position: absolute;
  bottom: 5px;
  right:10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  transition: all 250ms ease-in-out;
}

.btn:hover{
  right: 5px;
}

.img-type{
  width: 150px;
  border-radius: 10px;
  height: auto;
  margin-right:20px ;
}

