.intro{
  height: 80px;
  width: 100%;
  background-color: black;
}

.intro-content{
  padding: 20px;
  text-align: center;
  color: white;
}

.annoucement{
  width: 80%;
  height: 180px;
  padding: 5px;
}
.annoucement p:nth-child(2) {
  width: 75%;
}

.dropdown-type{
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  text-align: center;
}


.SearchBar{
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-left: 30px;
  padding-right: 8px;
  margin: 15px 0px;
  height: 35px;
  width: 40%;
}

.buttonSearch{
  margin-left: 15px;
  color: black;
  height: 35px;
  cursor: pointer;
  background-color: white;
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.filtre-icon{
  font-size: 30px;
  margin-right: 7px; 
}

.slideBar{
  margin-bottom: 20px;
}

.Filter{
  margin-bottom: 10px;
}

.Invisible{
  display: none;
}


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 
.container {
 display: flex;
 background-color: #fff;
 position: relative;
 border-radius: 5px;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.156);
 padding: 10px;
 }
 
 .btn {
  position: absolute;
  bottom: 5px;
  right:10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  transition: all 250ms ease-in-out;
}

.btn:hover{
  right: 5px;
}

.img-type{
  width: 150px;
  border-radius: 10px;
  height: auto;
  margin-right:20px ;
}


