.form{
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 2px;

}

.content-input{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.dropdown-type-create{
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.svg-addhome{
  position: relative;
  transform: scale(2.5);
  margin-bottom: 200px;
  top: 100px;
}

.h2-addhome{
  position: relative;
  font-size: 2rem;
  top: 50px;
  margin-top: 0px;
}