
.input-log{
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
}

.Register{
  display: flex;
  padding-left: 30%;
  padding-top: 250px;
}

.button-log{
  width: 315px;
  height: 30px;
  cursor: pointer;
}