.navbar{
    display: block;
    position: fixed;
    height: 100%;
    width: 100px;
    left: 0%;
    background-color: black;
    padding-top: 25px
  }

  .content-link{
    padding: 25%;
  }
  
  .link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .home-icon{
    font-size: 40px;
  }

  .connect-icon{
    font-size: 40px;
    color: green;
  }

  .disconnect-icon{
    font-size: 40px;
    color: red;
  }

