.navbar{
    display: block;
    position: fixed;
    height: 100%;
    width: 120px;
    right: 0%;
    background-color: black;
  }

  .logo{
  font-size: 24px;
  font-weight: bold;  
}

.link{
  text-decoration: none;
}