*, html {
  margin:0;
  padding:0;
  font-family:'Montserrat', sans-serif;
}


.footer{
  display: block;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  background-color: black;
}

.link:hover{
  text-decoration: underline;
}

.main{
  margin-left: 200px
}
