*, html {
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
  display: block;
  position: fixed;
  height: 100%;
  width: 80px;
  right: 0%;
  background-color: black;
}

.footer{
  display: block;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  background-color: black;
}

.content-link{
  padding: 20%;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  text-decoration: underline;
}